<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Angular Application</title>
    <meta charset='UTF-8' />
    <style>
        .menuItems li{display: inline; padding-left: 15px; font-weight: bold}
        .menuItems li a:hover{text-decoration: underline; color: blue;}
        .actived{color: red;}
    </style>
</head>
<body>
<div id='slide' ng-controller="slideCtrl">
    <div ng-init="autoChange()"></div>
    Current model: <input type='text' ng-model='img.path' />
    <img src='{{img.path}}' width = '800' height='500' alt="">
    <ul class='menuItems'>
        <li ng-repeat="item in items" ng-mouseover="changeImage(item.id)" class = "{{(img.path == item.path)?'actived' : ''}}">{{item.name}}</li>
    </ul>

    <input type='checkbox' checked="checked" ng-model = 'loop'>Loop {{loop}}<br />

    <button ng-click="previous(img.id)">Previous</button>
    <button ng-click="autoChangeDanToc()">Auto Play Kiểu Dân Tộc</button>
    <button ng-click="autoChange()">Auto Play</button>
    <button ng-click="stop()">Stop</button>
    <button ng-click="testTimeout()">Test Timeout</button>
    <button ng-click="next(img.id)">Next</button>
</div>



<script type="text/javascript" src="libs/angular.min.js"></script>
<script type="text/javascript" src="libs/angular-animate.min.js"></script>
<script type="text/javascript" src="scripts/angularSlideShow.js"></script>
</body>
</html>